<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccion de equipo</title>


    <script>
      

        function renderImage(numPokemon , numImagen ){


          var valor = document.getElementById(numPokemon);
          var valorReal = valor.value;

          var img =  document.getElementById(numImagen);
          console.log(valorReal);
          img.src = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${valorReal}.png`;
          
        }
        

        
        
    </script>

</head>
<body id = "body">

  
  {%for	y in range(0,6):%}
    <label for="poke{{y}}">Eliga pokemon {%print(y+1)%} </label>

    <select name="poke" id="pokemons{{y}}" onchange="renderImage('pokemons{{y}}','imagen{{y}}');">
      <option value=" " selected disabled hidden>Select</option>

        {% for x in pokemons.keys()%}


      <option value="{{pokemons[x]['id']}}">{{pokemons[x]['name']}}</option>
      
      {% endfor %}
    </select>
    
<img id='imagen{{y}}'> 
<br>

{% endfor %}
<!-- 
    <label for="poke2">Eliga pokemon 2</label>

    <select name="poke2" id="pokemons2"  onchange="renderImage('pokemons2','imagen2');" >

        {% for x in pokemons.keys()%}


      <option value="{{pokemons[x]['id']}}">{{pokemons[x]['name']}}</option>
      
      {% endfor %}
    </select>

    <img id="imagen2"> 

    <br>

    <label for="poke3">Eliga pokemon 3</label>

    <select name="poke3" id="pokemons3" onchange="renderImage('pokemons3','imagen3');">

        {% for x in pokemons.keys()%}


      <option value="{{pokemons[x]['id']}}">{{pokemons[x]['name']}}</option>
      
      {% endfor %}
    </select>
    <img id="imagen3"> 

    <br>

    <label for="poke4">Eliga pokemon 4</label>

    <select name="poke4" id="pokemons4" onchange="renderImage('pokemons4','imagen4');">

        {% for x in pokemons.keys()%}


      <option value="{{pokemons[x]['id']}}">{{pokemons[x]['name']}}</option>
      
      {% endfor %}
    </select>

    <img id="imagen4"> 

    <br>

    <label for="poke">Eliga pokemon 5</label>

    <select name="poke5" id="pokemons5" onchange="renderImage('pokemons5','imagen5');">

        {% for x in pokemons.keys()%}


      <option value="{{pokemons[x]['id']}}">{{pokemons[x]['name']}}</option>
      
      {% endfor %}
    </select>

    <img id="imagen5"> 

    <br>

    <label for="poke6">Eliga pokemon 6</label>

    <select name="poke6" id="pokemons6" onchange="renderImage('pokemons6','imagen6');">

        {% for x in pokemons.keys()%}


      <option value="{{pokemons[x]['id']}}">{{pokemons[x]['name']}}</option>
      
      {% endfor %}
    </select>

    <img id="imagen6">  -->

</body>
</html>